*{
      margin: 0;
      padding: 0;
      font-family: Verdana, sans-serif;
}
body{
      background: linear-gradient(rgba(218, 255, 251, 0.7), rgba(157, 178, 191, 0.7));
      color: #352F44;

}
#header{
      height: 100vh;
      width: 100%;
      background-position: center;
      background-size: cover;
}
.container{
      padding: 1% 2.5%;

}
nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
}
nav ul li{
      display: inline-block;
      list-style: none;
      margin: 35px;
}
nav ul li a{
      color: #352F44;
      text-decoration: none;
      font-size: 20px;
      position: relative;
}
nav ul li a::after{
      content: '';
      width: 0;
      height: 3px;
      background: #78D6C6;
      display: block;
      margin: auto;
      bottom: -6px;
      transition: 0.5s;
}
nav ul li a:hover::after{
      width: 100%;
}
.text-box-boder-1{
      background: #352F44;
      padding: 152px 3px;
      margin: 0;
      position: absolute;
      top: 33.5%;
      left: 89%;
}
.text-box-boder-2{
      background: #352F44;
      padding: 3px 317px;
      margin: 0;
      position: absolute;
      top: 73%;
      left: 47%;
}
.text-box{
      border: 6px solid #352F44;
      width: 40%;
      margin: auto;
      padding: 15px 20px;
      position: absolute;
      top: 30%;
      left: 45%;
      text-align: justify;
}
.text-box h2{
    font-size: 25px;
}
.text-box p{
      font-size: 22px;
}
.hero-btn{
      position: absolute;
      top: 77%;
      left: 82.3%;
      background: #419197;
      color: #419197;
      text-decoration: none;
      font-size: 25px;
      letter-spacing: 2.5px;
      font-weight: 600;
      padding: 10px 30px;
      transition: 0.5s;
}
.hero-btn:hover{
      background: #419197;
      color: #419197;
      font-weight: 400;
}
.hero-btn::before{
      content: '';
      position: absolute;
      inset: 2px;
      background: #DDE6ED;
}
.hero-btn span{
      position: relative;
      z-index: 1;
}
.hero-btn i{
      position: absolute;
      inset: 0;
      display: block;
      
}
.hero-btn i::before{
      content: '';
      position: absolute;
      top: 0;
      left: 80%;
      width: 15px;
      height: 4px;
      background: #DDE6ED;
      transform: translateX(-50%) skewX(325deg);
      transition: 0.5s;
}
.hero-btn:hover i::before{
      width: 20px;
      left: 20%;
}

.hero-btn i::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 20%;
      width: 15px;
      height: 4px;
      background: #DDE6ED;
      transform: translateX(-50%) skewX(325deg);
      transition: 0.5s;
}
.hero-btn:hover i::after{
      width: 20px;
      left: 80%;
}
.about-img{
      position: absolute;
      top: 1%;
      left: 1%;
}
.about-img img{
      width: 140%;
}
.icons{
      position: absolute;
      left: 45%;
      top: 93%;
}